*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.centered{
    width: 75%;
    margin: auto;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}



/* ------------------/Assets------------------- */



.nav-container{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;

    z-index: 3;

    height: 60px;

    background-color: #ff6900;
}


.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    height: 100%;
}

#age-selector ul{
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 8px;
}

#age-selector ul li a{
    color: white;
}

#logo img{
    height: 2em;
}

#func-selector ul{
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 8px;
}

#func-selector img{
    height: 1em;

    filter: invert(1);
}



/* -------------------/header---------------------- */





/* ---------------------main----------------------- */

main{
    margin-top: 60px;
}

/* card */

.cards{
    padding-top: 50px;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    row-gap: 40px;

    padding-bottom: 100px;
}

.cards-container{
    position: relative;
}

.card{
    width: 312px;
}

.cards-container .card a{
    display: inline-block;

    height: 100%;
}

.card img{
    width: 100%;
}

.card-secondary{
    position: absolute;
    top: 0;
    left: 0;

    display: none;
}


.cards-container:hover .card-secondary{
    display: inline-block;
}

/* /card */

/* etichette */
.badge{
    display: inline-block;

    padding: 3px;

    z-index: 1;

    font-size: 0.7em;

    color: white;
}

.red-badge{
    position: absolute;
    bottom: 80px;
    left: 0;

    background-color: red;
}

.green-badge{
    position: absolute;
    bottom: 80px;
    left: 35px;
    background-color: green;
}

.green-badge.last{
    left: 0;
}

/* /etichette */

/* info-card */

.brand{
    font-size: 0.8em;
}

.price .discount{
    font-size: 0.8em;

    color: red;
}

.price .full-price{
    text-decoration: line-through;

    font-size: 0.8em;
}
/* /info-card */

/* cuore */
.like{
    display: inline-block;

    position: absolute;
    top: 10px;
    right: 0;

    z-index: 2;

    padding: 8px;

    background-color: white;
}

.like:hover{
    cursor:pointer;
    color: red;
}

/* -------------------/main----------------------- */



/* ------------------footer------------------------ */

.foot-container{
    background-color: black;
}

.footbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    color: white;
}

.ref-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    padding: 20px 0;
}

.ref-container ul{
    display: flex;
    flex-direction: row;
    gap: 8px;

    font-size: 0.6em;
}

.ref-container ul li a{
    color: white;
}

.ref{
    padding: 10px 0;
}

.link-container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding: 20px 0;
}

.find-us{
    font-size: 0.7em;
}

.social-container{
    padding: 10px 0;
}

.social-container ul{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.social-container ul li a img{
    height: 15px;

    filter: invert(1);
}












    


